*.h5
*.hdf5
*.pkl
*.pkl.gz
__pycache__/*
__pycache__*
*.pyc
wandb/
mlruns/
models_ckpt
*.log
*.out
model/checkpoint.data-00000-of-00001
model/checkpoint.index
model/checkpoint
logs
performance_charts
sample_data
.vscode
.virtual_documents
.pytest_cache
.mypy_cache
.ipynb_checkpoints
.idea
test/Test_Sparse_Model
checkpoint
*.orig
*.pyc
Untitled*
